*{
       margin: 0%;
}
body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.facebook{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    margin-left: 20px;
    margin-top: 180px;
    gap: 50px;
}
.intro{
    width: 40%;

}
h1{
    color: rgb(70, 70, 234);
    font-size: 65px;
}
.quotes{
    color: black;
    font-size: 30px;
}
.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login{
    background-color: white;
    height: 350px;
    width: 409px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px -2px -2px;
}
form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}


input{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 350px;
    margin: 15px;
    margin-top: 7px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid grey;
    font-size: 14px;
}
.log{
    background-color: blue;
    color: white;
    height: 50px;
     width: 370px;
     font-size: 25px;
    border-radius: 10px;
}
.forget{
    color: blue;
   }
hr{
    border: 1px solid rgb(228, 216, 216);
    width: 350px;
    margin: 10px 0px ;
}
p{
    color: blue;
}
.create{
    background-color: rgb(36, 222, 36);
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    margin: 25px;
}
.advert{
   margin: 20px;
   font-size: 15px;

}
span{
    font-weight: bold;
}
footer{
    height: 180px;
    margin-top: 185px;    
    background-color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.language{
    margin-left: -40px;
    color: grey;
    font-size: 13px;
    display: flex;
    list-style: none;
    gap: 10px;
}
.add_more{
    height: 18px;
    width: 24px;
    color: grey;
    font-weight: bold;


}
.infooter{
    width: 95%;
       
}
a{
   color: grey;
   font-size: 14px;
    text-decoration: none;
    justify-content: left;
    gap: 100px;
}
.bottompart{
    margin: 40px 250px;
}
.copyright{
    color: grey;
    font-size: 12px;
    margin-top: 35px;
}